<mat-card class="user-card">
  <mat-card-title-group class="user-card-group" [routerLink]="'/users/preview/'+data.id">
    <mat-card-title>{{data.name+ ' '}}{{data.lastName}}</mat-card-title>
    <mat-card-subtitle>{{data.email}}</mat-card-subtitle>
    <usr-display-image mat-card-sm-image [source]="data.avatar" class="image-preview"></usr-display-image>
  </mat-card-title-group>
  <mat-card-actions align="end">
    <button mat-button (click)="actions('edit', data.id)">Edit</button>
    <button mat-button (click)="actions('delete', data.id)">Delete</button>
  </mat-card-actions>
</mat-card>
