::ng-deep {
    .mat-card-title-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly !important;

        img {
            border-radius: 100%;
        }

        .mat-card-title {
            font-size: medium !important;
            overflow: hidden;
            padding-left: 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 170px;
        }

        .mat-card-subtitle {
            overflow: hidden;
            padding-left: 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 170px;
        }
    }
}

:host {
    .user-card {
        max-width: 15rem;
    }

    .user-card-group {
        cursor: pointer;

        .image-preview {
            height: 80px;
            width: 80px;
        }
    }
}
