::ng-deep {
    .mat-card-title-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly !important;

        img {
            border-radius: 100%;
            border-radius: 100%;
        }

        .mat-card-title {
            font-size: medium !important;
            padding-left: 0.5em;
        }

        .mat-card-subtitle {
            padding-left: 0.5em;
        }
    }
}

:host {
    .user-card {
        max-width: 15rem;
    }

    .user-card-group {
        cursor: pointer;
    }
}
