<form class="form-group" [formGroup]="userForm">
      <div class="form-avatar">
        <usr-file-upload [data]="userForm.get('avatar')?.value" accepts="image/png, image/jpeg, image/jpg" (fileUploaded)="fileUploaded($event)" formControlNameValue="image"></usr-file-upload>
      </div>
      <div class="form-input-fields">
        <div class="input-field">
          <usr-input formControlNameValue="name" placeholder="Your name"> </usr-input>
          <span  class="input-field-error error" *ngIf="userForm.get('name')?.errors && userForm.get('name')?.dirty">
            Name is <strong>required</strong>
          </span>
        </div>
        <div class="input-field">
          <usr-input formControlNameValue="lastName" placeholder="Your lastName"> </usr-input>
          <span  class="input-field-error error" *ngIf="userForm.get('lastName')?.errors && userForm.get('lastName')?.dirty">
            LastName is <strong>required</strong>
          </span>
        </div>
        <div class="input-field">
          <usr-input type="email" formControlNameValue="email" placeholder="Your email"> </usr-input>
          <div class="input-field-error error" *ngIf="emailController && userForm.get('email')?.dirty">
            <span *ngIf="emailController && emailController['required']">
              Email is <strong>required</strong>
            </span>
            <span *ngIf="emailController && emailController['pattern']">
              You have entered an invalid email address. please check your email address and try again.
            </span>
          </div>
        </div>
      </div>
  </form>
